{% extends 'base.html' %}
{% load static %}

{% block title %}Resume - {{ profile.name }}{% endblock %}

{% block content %}
<article class="resume active" data-page="resume">
    <header>
        <h2 class="h2 article-title">Resume</h2>
    </header>

    <section class="timeline">
        <div class="title-wrapper">
            <div class="icon-box">
                <ion-icon name="book-outline"></ion-icon>
            </div>
            <h3 class="h3">Education</h3>
        </div>

        <ol class="timeline-list">
            {% for education in educations %}
            <li class="timeline-item">
                <h4 class="h4 timeline-item-title">{{ education.institution }}</h4>
                <span>{{ education.period }}</span>
                <p class="timeline-text">{{ education.description }}</p>
            </li>
            {% endfor %}
        </ol>
    </section>

    <section class="timeline">
        <div class="title-wrapper">
            <div class="icon-box">
                <ion-icon name="book-outline"></ion-icon>
            </div>
            <h3 class="h3">Experience</h3>
        </div>

        <ol class="timeline-list">
            {% for experience in experiences %}
            <li class="timeline-item">
                <h4 class="h4 timeline-item-title">{{ experience.position }}</h4>
                <span>{{ experience.period }}</span>
                <p class="timeline-text">{{ experience.description }}</p>
            </li>
            {% endfor %}
        </ol>
    </section>

    <section class="skill">
        <h3 class="h3 skills-title">My Skills</h3>

        <ul class="skills-list content-card">
            {% for skill in skills %}
            <li class="skills-item">
                <div class="title-wrapper">
                    <h5 class="h5">{{ skill.name }}</h5>
                    <data value="{{ skill.percentage }}">{{ skill.percentage }}%</data>
                </div>

                <div class="skills-progress-bg">
                    <div class="skills-progress-fill" style="width: {{ skill.percentage }}%;"></div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </section>
</article>
{% endblock %}